<app-header></app-header>
<div class="content">
  <h1>Editar usuário</h1>
  <form class="row g-3" (ngSubmit)="goEditar()">
    <div class="col-md-8">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        [(ngModel)]="formUsuario.nome"
        name="nome"
        required
      />
    </div>
    <div class="col-md-4">
      <label for="telefone" class="form-label">Telefone</label>
      <input
        type="text"
        class="form-control"
        id="telefone"
        [(ngModel)]="formUsuario.telefone"
        name="telefone"
        required
      />
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="formUsuario.email"
        name="email"
        required
      />
    </div>
    <div class="col-md-2">
      <label for="senha" class="form-label">Senha</label>
      <input
        type="password"
        class="form-control"
        id="senha"
        [(ngModel)]="formUsuario.senha"
        name="senha"
      />
    </div>
    <div class="col-md-2">
      <label for="funcao" class="form-label">Função</label>
      <select [(ngModel)]="formUsuario.funcao" class="form-select" name="funcao">
        <option *ngFor="let funcao of userFuncao">{{funcao}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="acesso" class="form-label">Acesso</label>
      <select [(ngModel)]="formUsuario.acesso" class="form-select" name="acesso">
        <option *ngFor="let acesso of userAcesso">{{acesso}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="cep" class="form-label">CEP</label>
      <input
        type="text"
        class="form-control"
        id="cep"
        [(ngModel)]="formUsuario.cep"
        name="cep"
        (blur)="goBuscarEndereco()"
      />
      <span class="text-danger fw-bold fs-6" *ngIf="cepErro">CEP inválido</span>
    </div>
    <div class="col-md-4">
      <label for="endereco" class="form-label">Endereço</label>
      <input
        type="text"
        class="form-control"
        id="endereco"
        [(ngModel)]="formUsuario.endereco"
        name="endereco"
        disabled
      />
    </div>
    <div class="col-md-2">
      <label for="bairro" class="form-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        id="bairro"
        [(ngModel)]="formUsuario.bairro"
        name="bairro"
        disabled
      />
    </div>
    <div class="col-md-3">
      <label for="cidade" class="form-label">Cidade</label>
      <input
        type="text"
        class="form-control"
        id="cidade"
        [(ngModel)]="formUsuario.cidade"
        name="cidade"
        disabled
      />
    </div>
    <div class="col-md-1">
      <label for="estado" class="form-label">Estado</label>
      <input
        type="text"
        class="form-control"
        id="estado"
        [(ngModel)]="formUsuario.estado"
        name="estado"
        disabled
      />
    </div>
    <div class="col-12">
      <button routerLink="/usuario" class="btn btn-secondary me-1">
        Voltar
      </button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>

<app-footer></app-footer>


